
<a href="{{request.path}}/products/{{ product.handle }}">
  <div class="hover:opacity-75 text-center">
    {% assign image = product.images | first %}
    <img src="{{ image.src | product_img_url: 'large' }}">
    <div class="mt-4 font-semibold text-sm">{{ product.title | upcase }}</div>
    {% assign variant = product.first_available_variant %}
    {% assign sku = variant.sku %}
    {% render "price-range", sku: sku, id: "price-{{variant.id}}" %}
  </div>
</a>